/**
 * Colours
 */
$color-image-text: #FFFFFF;
$color-pink: #FF4E50;
$color-green: #18D4CA;
$color-orange: #FFA710;
$color-purple: #667DF3;
$color-title-text: #444444; // Headings
$color-footer-text: #666666;
