/**
 * Colours
 */
$color-image-text: #FFFFFF;
$color-feature-music: #FF4E50;
$color-feature-brush: #18D4CA;
$color-feature-camera: #FFA710;
$color-feature-airplane: #667DF3;
$color-title-text: #444444;
$color-subtitle-text: #666666;
