<div class="flex-container"
     fxLayout="column"
     fxLayoutAlign="space-between stretch"
     fxFlex="100">

    <!-- Toolbar -->
    <app-toolbar [backgroundHeight]="backgroundHeight"></app-toolbar>

    <!-- Header -->
    <div class="header flex-item flex-container"
         fxLayout="column"
         fxLayoutAlign="center center"
         [style.height]="backgroundHeight + 'px'">

        <span class="flex-item header-text-title">SHARE YOUR<br>HOLIDAY DREAM</span>
        <span class="flex-item header-text-subtitle">And find the perfect partner to fulfill it</span>
        <span class="flex-item header-button"><button mat-button>Find your holiday partner</button></span>

    </div>

    <!-- Content -->
    <app-home></app-home>

    <!-- Footer -->
    <div class="footer-wrapper flex-item">
        <div class="footer flex-container"
             fxLayout="row"
             fxLayoutAlign="space-between start"
             fxFlex="90"
             fxLayout.xs="column"
             fxLayoutAlign.xs="space-between start"
             fxFlex.xs="80">
            <div class="flex-item" fxFlex="16">
                    <span class="logo">DREAMSHARE</span>
            </div>

            <div class="flex-item footer-col-1" fxFlex="24">
                <mat-nav-list dense>
                    <mat-list-item><span class="footer-col-title">Company</span></mat-list-item>
                    <mat-list-item><a href="#">About</a></mat-list-item>
                    <mat-list-item><a href="#">Contact</a></mat-list-item>
                    <mat-list-item><a href="#">Press</a></mat-list-item>
                    <mat-list-item><a href="#">Blog</a></mat-list-item>
                    <mat-list-item><a href="#">Terms and Privacy</a></mat-list-item>
                    <mat-list-item><a href="#">Help</a></mat-list-item>
                </mat-nav-list>
            </div>
            <div class="flex-item footer-col-2" fxFlex="26">
                <mat-nav-list dense>
                    <mat-list-item><span class="footer-col-title">Activities</span></mat-list-item>
                    <mat-list-item><a href="#">Sports</a></mat-list-item>
                    <mat-list-item><a href="#">Wellness and Health</a></mat-list-item>
                    <mat-list-item><a href="#">Expeditions</a></mat-list-item>
                    <mat-list-item><a href="#">Games</a></mat-list-item>
                    <mat-list-item><a href="#">Culture and Education</a></mat-list-item>
                    <mat-list-item class="footer-view-all"><a href="#">View all</a></mat-list-item>
                </mat-nav-list>
            </div>
            <div class="flex-item footer-col-3" fxFlex="32">
                <mat-nav-list dense>
                    <mat-list-item><span class="footer-col-title">Contact Us</span></mat-list-item>
                    <mat-list-item>Tel: (000) 000-0000</mat-list-item>
                    <mat-list-item>Email: dreamshare@email.com</mat-list-item>
                </mat-nav-list>
            </div>
        </div>
    </div>
</div>


