@import "~../assets/css/colors.scss";

$background-image: url("../assets/images/headerBackground.jpg");

/**
 * Header
 */
.header {

    background-image: $background-image;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;

    color: $color-image-text;

    .header-text-title {
        font-size: 2.5em;
        font-weight:700;
        text-align: center;
    }

    .header-text-subtitle {
        display: block;
        font-family: Roboto;
        font-weight: 100;
        margin: 20px 0;
    }


    .header-button button {
        width: 220px;
        border-radius: 20px;
        color: $color-image-text;
        background-color: $color-primary;
        font-size: 0.85em;
        padding: 0 30px;
        transition: color 0.5s ease-in-out;

        &:hover {
            background-color: $color-image-text;
            color: $color-primary;
        }
    }

}

@media(max-width: 666px) {
    .header {
        font-size: 0.7em;

        .header-text-title {
            margin-top: 20px;
        }

        .header-text-subtitle {
            margin: 10px 0;
            font-size: 1.05em;
        }

        .header-button button {
            width: 180px;
            height: 30px;
            line-height: 30px;
            font-size: 1.1em;
        }
    }
}

@media(max-width: 399px) {
    .header {
        .header-text-title {
            margin-top: 40px;
        }
        
        .header-text-subtitle {
            margin: 5px 0;
        }

        .header-button button {
            width: 125px;
            height: 25px;
            line-height: 15px;
            padding: 5px 10px;
        }
    }
}

/**
 * Footer
 */
.footer-wrapper {
    border-top: 2px solid $color-primary;
}

.footer {

    font-size: 0.7em;
    font-family: Roboto;
    font-weight: 100;
    color: $color-subtitle-text;
    margin: auto;

    .logo {
        color: $color-primary;
        margin-top: 20px;
        display: block;
        font-family: Montserrat;
    }

    .footer-col-title {
        color: $color-primary-dark;
        font-weight: 700;
        font-family: Montserrat;
    }

    mat-list-item {
        height: 24px;
    }

    .footer-view-all {
        color: $color-primary;
    }
}

@media(max-width: 599px) {
    .footer {
        font-size: 1.2em;
    }
}

/**
 * Testing
 *//*
 .flex-container {

 border: 4px solid yellow;
 .flex-item {
 border: 1px dashed red;
 }
 }
    */


