<!-- Partners -->
<div class="title-text flex-item">Meet a partner for your best holiday</div>

<div class="flex-item">
    <div class="partners flex-container"
         fxLayout="row"
         fxLayoutAlign="space-between start"
         fxFlex="90"
         fxLayout.xs="column"
         fxLayoutAlign.xs="start center"
         fxFlex.xs="90">
        <mat-card class="flex-item" fxFlex="25">
            <div class="partner-image">
                <img mat-card-avatar class="partner-image-avatar" src="../assets/images/partner1.jpg" alt="Bradley Hunter">
                <img mat-card-sm-image class="partner-image-music" src="../assets/images/music.svg">
            </div>
            <mat-card-title-group>
                <mat-card-title>Bradley Hunter</mat-card-title>
                <mat-card-subtitle>Based in Chicago. I love playing tennis and loud music.</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card>

        <mat-card class="flex-item" fxFlex="25">
            <div class="partner-image">
                <img mat-card-avatar class="partner-image-avatar" src="../assets/images/partner2.jpg" alt="Marie Bennett">
                <img mat-card-sm-image class="partner-image-brush" src="../assets/images/brush.svg">
            </div>
            <mat-card-title-group>
                <mat-card-title>Marie Bennett</mat-card-title>
                <mat-card-subtitle>Currently living in Colorado. Lover or art, languages and travelling.</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card>

        <mat-card class="flex-item" fxFlex="25">
            <div class="partner-image">
                <img mat-card-avatar class="partner-image-avatar" src="../assets/images/partner3.jpg" alt="Diana Wells">
                <img mat-card-sm-image class="partner-image-camera" src="../assets/images/camera.svg">
            </div>
            <mat-card-title-group>
                <mat-card-title>Diana Wells</mat-card-title>
                <mat-card-subtitle>Living in Athens, Greece. I love black and white classics, chillout music and green tea.</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card>

        <mat-card class="flex-item" fxFlex="25">
            <div class="partner-image">
                <img mat-card-avatar class="partner-image-avatar" src="../assets/images/partner4.jpg" alt="Christopher Pierce">
                <img mat-card-sm-image class="partner-image-airplane" src="../assets/images/airplane.svg">
            </div>
            <mat-card-title-group>
                <mat-card-title>Christopher Pierce</mat-card-title>
                <mat-card-subtitle>Star Wars fanatic. I have a persistent enthusiasm to create new things.</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card>

    </div>
</div>

<div class="partner-button flex-item"><button mat-button>See other partners</button></div>


<!-- Blocks -->
<div class="title-text flex-item">Discover holiday activity ideas</div>

<div class="blocks flex-item">

    <mat-grid-list cols="3">
        <mat-grid-tile colspan="1" rowspan="1">
            <div class="block block-sports">
                <div class="block-text">Sports</div>
                <div class="shimmer"></div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <div class="block block-wellness">
                <div class="block-text">Wellness and Health</div>
                <div class="shimmer"></div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <div class="block block-expeditions">
                <div class="block-text">Expeditions</div>
                <div class="shimmer"></div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="1">
            <div class="block block-games">
                <div class="block-text">Games</div>
                <div class="shimmer"></div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
            <div class="block block-culture">
                <div class="block-text">Culture and Education</div>
                <div class="shimmer"></div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="1">
            <div class="block block-beauty">
                <div class="block-text">Beauty and Relaxation</div>
                <div class="shimmer"></div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <div class="block block-travelling">
                <div class="block-text">Travelling</div>
                <div class="shimmer"></div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

